.container{
  margin: 0 auto 0;
  display: flex;
  height: min-content;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 100px;
}
.card{
  box-shadow: 0px 0px 7px -2px;
  img{
  min-width: 280px;
  min-height: 280px;
  max-width: 280px;
  max-height: 280px;
  }
  .card__actions{
   margin: 20px 0px;
  }
  .card__actions__button{
    margin-left: 10px;
  }
}
.image{
  min-width: 280px;
  min-height: 280px;
  max-width: 280px;
  max-height: 280px;
}
.admin{
  button{
    cursor: pointer;
    min-width: 60px;
    width: 120px;
    font-size: 16px;
    color: #fff;
    background-color: #29262690;
    border-radius: 4px;
    outline: none;
    user-select: none;
    min-height: 32px;
    font-weight: 700;}
}
@media screen and (max-width: 600px) {
  .container{
    padding: 0px;
    padding-bottom: 20px;
  }

  .card{
    align-items: center;
    display: flex;
    width: 100%;
    .card__title{
      font-size: 26px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(210, 205, 205, 0.529);
    }
    .card__actions{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    .card__actions__button{
      margin-right: 5px;
    }
  }
}

