<mat-toolbar color="primary">
  <div class="title no-select">
    <mat-icon class="title__logo">games</mat-icon>
    <span class="title__name" routerLink="">Fake Store</span>
  </div>

  <span class="spacer"></span>
  <div class="navigation">
    <button mat-flat-button color="primary" routerLink="">main</button>
    <button mat-flat-button color="primary" routerLink="products">
      products
    </button>
    <button mat-flat-button color="primary" routerLink="basket">basket</button>
  </div>
</mat-toolbar>
